<html>
<head>
  <title> Dashboard | Uptime </title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script>
    function httpAsync(theUrl, callback, method)
    {
      var xmlHttp = new XMLHttpRequest();
      xmlHttp.onreadystatechange = function() {
          if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
              callback(xmlHttp.responseText);
      }
      xmlHttp.open(method, theUrl, true); // true for asynchronous
      xmlHttp.send(null);
    }

    function loadInfo(response)  {
        var resp = response.split("|");
        document.getElementById("nameEdit").value = resp[0];
        document.getElementById("keyEdit").value = resp[1];
        document.getElementById("contactsEdit").value = resp[2];
    }

    function deleteMonitor(name) {
      var form = document.getElementById("deleteForm");
      var value = document.getElementById("toDel");
      value.value = name;
      form.submit();
    }
  </script>
</head>
<body>
  <center><h1> Dashboard </h1></center>
  <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Status</th>
      <th scope="col">Name</th>
      <th scope="col">Last Ping</th>
      <th scope="col">Uptime 24hr</th>
      <th scope="col">Uptime 7d</th>
      <th scope="col">Uptime 30d</th>
      <th scope="col"> <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModalAdd">Add Monitor</button> </th>
    </tr>
  </thead>
  <tbody>
    {% for i in monitors %}
    <tr>
      <th scope="row"><span class="badge badge-{{"success" if i[0] else "danger"}}">{{"UP" if i[0] else "DOWN"}}</span></th>
      <td>{{i[1]}}</td>
      <td>{{datetime.datetime.fromtimestamp(i[2]).strftime('%B %d, %Y %H:%M')}}</td>
      <td><div class="progress">
          <div class="progress-bar bg-success" role="progressbar" style="width: {{perc(i[3],i[4])}}%" aria-valuenow="{{perc(i[3],i[4])}}" aria-valuemin="0" aria-valuemax="100"></div>
          <div class="progress-bar bg-danger" role="progressbar" style="width: {{ big_perc(i[4],i[3])}}%" aria-valuenow="{{big_perc(i[4],i[3])}}" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </td>
      <td><div class="progress">
          <div class="progress-bar bg-success" role="progressbar" style="width: {{perc(i[5],i[6])}}%" aria-valuenow="{{perc(i[5],i[6])}}" aria-valuemin="0" aria-valuemax="100"></div>
          <div class="progress-bar bg-danger" role="progressbar" style="width: {{ big_perc(i[5],i[6])}}%" aria-valuenow="{{big_perc(i[5],i[6])}}" aria-valuemin="0" aria-valuemax="100"></div>
      </div></td>
      <td><div class="progress">
          <div class="progress-bar bg-success" role="progressbar" style="width: {{perc(i[7],i[8])}}%" aria-valuenow="{{perc(i[7],i[8])}}" aria-valuemin="0" aria-valuemax="100"></div>
          <div class="progress-bar bg-danger" role="progressbar" style="width: {{ big_perc(i[7],i[8])}}%" aria-valuenow="{{big_perc(i[7],i[8])}}" aria-valuemin="0" aria-valuemax="100"></div>
      </div></td>
      <td><div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Settings
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="/client/{{i[1]}}" download="client.py">Download Client</a>
          <button class="dropdown-item" type="button" data-toggle="modal" data-target="#exampleModalEdit" onclick="javscript: httpAsync('/monitor/{{i[1]}}', loadInfo, 'GET')">Edit</button>
          <button class="dropdown-item" type=button onclick="javascript: deleteMonitor('{{i[1]}}'); ">Delete</button>
        </div>
      </td>
</div>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% for i in ["Add", "Edit"] %}
<div class="modal fade" id="exampleModal{{i}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{i}} Monitor</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/{{i.lower()}}" method="POST">
          <div class="form-group">
            <label for="name{{i}}">Name</label>
            <input name="name" type="text" class="form-control" id="name{{i}}" required>
          </div>
          <div class="form-group">
            <label for="key{{i}}">Key</label>
            <input name="key" type="text" class="form-control" id="key{{i}}" value="{{ rand }}" required>
          </div>
          <div class="form-group">
            <label for="contacts{{i}}">Contacts</label>
            <input name="contacts" type="text" class="form-control" id="contacts{{i}}" required>
            <small class="form-text text-muted">(Comma-Separated List of Emails)</small>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
      </form>
    </div>
  </div>
</div>
{% endfor %}

<form id=deleteForm action=/delete method=POST>
  <input type=hidden id=toDel name=name />
</form>

</body>
</html>
